<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Über Uns</h2>
                    <h3 class="section-subheading text-muted">Zuhause. Heute.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2012-2015</h4>
                                    <h4 class="subheading">Our Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Unsere Reise im Immobiliengeschäft begann 2014 mit dem Kauf eines Schmuckstücks in der idyllischen Andreasstraße. Seither haben wir uns der Aufgabe verschrieben, Ihre Wohnträume mit Expertise und Leidenschaft wahr werden zu lassen. Vertrauen Sie auf uns, Ihren zuverlässigen Partner für einzigartige Immobilienerlebnisse. Gemeinsam gestalten wir Ihre Zukunft – Stein für Stein, Traum für Traum. Willkommen zu Hause!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>August 2019</h4>
                                    <h4 class="subheading">Immobilienmanagement & Reinigung</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Ab sofort bieten wir Ihnen ein Rundum-Sorglos-Paket: Kaufen, Bauen, Verwalten und Reinigen – alles aus einer Hand! Mit Fabienne Peters als Verstärkung in unserem Team sind wir bereit, Ihre Immobilienwünsche umfassend zu erfüllen. Vertrauen Sie auf unseren erweiterten Service und erleben Sie Immobilienmanagement auf einem neuen Level.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Dezember 2023</h4>
                                    <h4 class="subheading">Transition to Full Service</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Im Dezember haben wir unser Engagement für Exzellenz in der Immobilienwelt auf ein neues Level gehoben. Von inspirierenden Teamwork-Events bis hin zu innovativen Technologie-Upgrades - wir bei KB-Holding sind stolz darauf, stets neue Wege zu gehen, um Ihre Wohnträume zu verwirklichen.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Heute</h4>
                                    <h4 class="subheading">Die Zukunft</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Bei K.B. Holding GmbH ist die Zukunft unser Fokus. Als dynamisches Unternehmen in der Immobilienbranche sind wir stets auf der Suche nach innovativen Lösungen und neuen Möglichkeiten, um unseren Kunden exzellente Dienstleistungen anzubieten.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
