<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading" style="color: white;">Kontaktieren Sie uns gerne!</h2>
                <h3 class="section-subheading text-muted" style="color: white;">Wir haben Sie überzeugt? Dann kontaktieren Sie uns und starten Sie noch heute in Ihr neues Zuhause.</h3>
            </div>
        </div>
        <div class="row">
            <!-- Linke Spalte -->
            <div class="col-lg-6 text-left">
                <h4 style="color: white;">Impressum</h4>
                <p style="color: white;">
                    <strong>k.b. holding GmbH</strong><br>
                    Greitelerweg 55<br>
                    33102 Paderborn<br>
                    Deutschland<br>
                    <br>
                    Telefon: changeme<br>
                    E-Mail: info@kb-holdings.de
                </p>
            </div>
            <!-- Rechte Spalte -->
            <div class="col-lg-6 text-left">
                <h4 style="color: white;">Weitere Informationen</h4>
                <p style="color: white;">
                    Vertreten durch/Geschäftsführer:
                    Kris Blaschke<br>
                    Inhaltlich verantwortlich gemäß § 10 Absatz 3 MDStV:
                    Kris Blaschke<br>
                    USt-ID: changeme<br>
                    Handelsregister HRB 15737<br>
                    Amtsgericht Paderborn
                </p>
            </div>
        </div>
    </div>
</section>
