<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Was machen wir?</h2>
                    <h3 class="section-subheading text-muted">Ihre Immobilie unsere Dienstleistung.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Beratung</h4>
                    <p class="text-muted">Suchen Sie nach maßgeschneiderter Beratung für Ihre Immobilieninvestitionen? Die K.B. Holdings GmbH steht Ihnen mit umfassender Expertise zur Seite. Als erfahrenes Unternehmen in der Immobilienbranche bieten wir Ihnen eine individuelle Beratung, die auf Ihre spezifischen Bedürfnisse zugeschnitten ist.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Immobilien</h4>
                    <p class="text-muted">Willkommen in der Welt hochwertiger Immobilien mit K.B. Holdings GmbH! Unsere Firma bietet Ihnen eine handverlesene Auswahl an erstklassigen Immobilien, die höchsten Ansprüchen gerecht werden. Ob luxuriöse Wohnungen in besten Lagen, repräsentative Büroflächen oder renditestarke Gewerbeobjekte – bei uns finden Sie Ihr Traumobjekt.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Verwaltung</h4>
                    <p class="text-muted">Effiziente Verwaltung Ihrer Immobilien ist der Schlüssel zu langfristigem Erfolg – verlassen Sie sich auf K.B. Holdings GmbH! Wir bieten Ihnen professionelle Verwaltungsdienstleistungen, die Ihre Immobilieninvestitionen maximieren und Ihre Belastung minimieren.</p>
                </div>
            </div>
        </div>
    </section>
