<!-- Team Section -->
<section id="team" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Das Team</h2>
                <h3 class="section-subheading text-muted">Bei der K.B. Holding GmbH bilden wir ein Team von engagierten Experten, die sich leidenschaftlich für die Immobilienbranche einsetzen. Jedes Mitglied unseres Teams bringt umfassende Erfahrung und spezialisiertes Wissen mit, um Ihnen die bestmögliche Beratung und Betreuung zu bieten.</h3>
            </div>
        </div>
        <div class="row">
            {% for member in site.people %}
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                    <h4>{{ member.name }}</h4>
                    <p class="text-muted">{{ member.position }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="large text-muted">Von erfahrenen Immobilienmaklern über versierte Verwalter bis hin zu engagierten Technologischen Experten – wir arbeiten Hand in Hand, um Ihre individuellen Bedürfnisse zu erfüllen und Ihre Ziele zu erreichen. </p>
            </div>
        </div>
    </div>
</section>
